@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600&display=swap");

.container.board {
  background-color: azure;
}
span.total-calories {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3em;
  color: green;
}
