body {
  /* background: rgb(39, 193, 0);
  background: linear-gradient(
    -90deg,
    rgba(39, 193, 0, 1) 0%,
    rgba(255, 254, 107, 1) 100%
  ); */
  background: url("./assets/erbe-e-verdure-su-sfondo-bianco.jpg") no-repeat
    center center fixed;
  background-size: cover;
}
